*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Averta';
    src: url('http://fonts.cdnfonts.com/css/averta-standard?styles=17375');
}
body{
    font-weight: 400;
    font-family: 'Averta Standard', sans-serif;
}
.first{
    background-image: url(./landingpage/hero-bg.svg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.logo{
    display: flex;
    margin: auto;
    margin-bottom: 60px;
    padding-top: 70px;
    justify-content: center;
}
.hero{
    text-align: center;
    margin: 0 auto;
}
.hero h2{
    margin-bottom: 40px;
    padding-top: 40px;
    font-size: 30px;
    color: #514949;
    line-height: 50px;
}
.hero p{
    font-size: 16px;
    color: #514949;
    opacity: 1;
    line-height: 25px;
    margin-bottom: 20px;
    }
 .hero a{
        text-decoration: none;
        color:  #eb5850;
    }


.btn{
    margin-top: 92px;
    display: flex;
    justify-content: center;
}
.new{
    background-color: #E7332B;
    color: #fff;
    margin-right: 25px;
    padding: 16px 30px;
    border: 1px solid #E7332B;
    font-family: 'Averta Standard', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.new:hover{
    background-color: #fff;
    color: #E7332B;
    cursor: pointer;
}
.experience{
    background-color: #fff;
    border: 1px solid #E7332B;
    padding: 16px 35px;
    color: #E7332B;
    font-family: 'Averta Standard', sans-serif;                                            
     font-weight: 400;
     font-size: 20px;
}
.experience:hover{
    background-color: #E7332B;
    color: #fff;
    cursor: pointer;
}
.second{
    background-color: #fff;
    overflow: hidden;
}
.cater{
    text-align: center;
    margin-top: 100px;
}
.cater h4{
    color: #E7332B;
    font-size: 15px;
    line-height: 24px;
}
.cater p{
    font-size: 25px;
    text-align: center;
    color: #514949;
    margin-top: 10px;
    margin-bottom: 70px;
    line-height: 40px;
    font-weight: 500;
}
.row{
    display: flex;   
}

.column{
    width:100%;
    padding: 61px 47px 82px 36px;
    text-align: justify-all;
}
.card{
    background-color: #FFFAFA;
    padding: 15px;
    height: 500px;
    margin-left: 20px;
}
.card img{
margin-bottom: 40px;
margin-top: 20px;
}
.card p{
    font-size: 16px;
    line-height: 25px;
    color: #514949;
    opacity: 1;
}
.card h4 a{
    font-size: 16px;
    line-height: 25px;
    color: #E7332B;
    margin-bottom: 40px;
    text-decoration: none;
}
footer{
    margin-bottom: 200px;
}
.footer{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-bottom: 60px;
   padding: 15px;
   margin-top: 70px;
   margin-right: 40px;
}
footer h3{
    font-size:16px;
    font-weight:bold ;
    line-height: 25px;
    color: #514949;
}
footer a{
    text-decoration: none;
    color: #eb5850;
    font-size: 14px;
    font-weight: 700;
    opacity: 1;
    line-height: 30px
}
.team-logo{
    margin-left: 30px;
}
.contact p{
    font-size: 14px;
    line-height: 25px;
    color: #514949;
    opacity: 1;
}
.social-media .social-icon{
    width: 20%;
    display: flex; 
}
footer hr{
    opacity: 0.5;
    border: 0.7px solid #514949;
}
.copyright{
    text-align: center;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    margin-top: 30px;
    color: #514949;

}
@media screen and (max-width: 600px){
    .first{
        height: auto;
    }
    .logo{
        display:block ;
        padding-top: 50px;
        margin: auto;
        margin-bottom: 20px;
    }
    .hero h2{
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }
}